@font-face {
	font-family: bankgothic;
	src: url('../fonts/bankgothic.ttf');
}

@font-face {
	font-family: pcdown;
	src: url('../fonts/pdown.ttf');
}

@font-face {
  font-family: signpainter;
  src: url('../fonts/signpainter.ttf');
}

@font-face {
  font-family: arial;
  src: url('../fonts/arial.ttf');
}

@font-face {
    font-family: 'Font2';
    src: url(https://runtime.fivem.net/temp/ChaletLondonNineteenSixty.otf?a);
}

@font-face {
    font-family: 'Font2_cond';
    src: url(https://runtime.fivem.net/temp/chaletcomprime-colognesixty-webfont.ttf?a);
}


.menu {
	background-color: rgba(0,0,0,0.7);
	font-family: Verdana;
	min-width: 400px;
	color: #fff;
	position: absolute;
}

.menu.align-left {
	left: 40;
	top: 50%;
	transform: translate(0, -50%);
}

.menu.align-top-left {
	left: 40;
	top: 40;
}

.menu.align-top {
	left: 50%;
	top: 40;
	transform: translate(-50%, 0);
}

.menu.align-top-right {
	right: 10;
	top: 40;
}

.menu.align-right {
	right: 40;
	top: 50%;
	transform: translate(0, -50%);
}

.menu.align-bottom-right {
	right: 40;
	bottom: 40;
}

.menu.align-bottom {
	left: 50%;
	bottom: 40;
	transform: translate(-50%, 0);
}

.menu.align-bottom-left {
	left: 40;
	bottom: 40;
}

.menu.align-center {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.menu .head {
	background-image: url("https://media.discordapp.net/attachments/694703459043115079/699466179076685834/Ribera_Menus_PNG_v2.png");
	text-align: center;
color: #42a4f5;
	font-family: Font2_cond;
	font-size       : 25px;
	height: 122px;
	line-height     : 213px;
}

.menu .menu-items {
	max-height: 600px;
	overflow-y: hidden;
}

.menu .menu-items .menu-item {
  font-family:  arial;
	height: 40px;
	display: block;
	background-color: rgba(0, 0, 0, 0.6);
	height: 32px;
	line-height: 32px;
	color: rgb(255, 255, 255);
	text-align: center;
}

.menu .menu-items .menu-item.selected {
  background-image: linear-gradient(to right, rgba(255,255,255,0.7), rgba(255,255,255,0.45));
  color :black;
}
