<head>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
	<div class="full-screen">
		<div class="question-container">
			<!-- header -->
			<div class="header">
				<h1>Escola de condução</h1>
			</div>
			<!-- home -->
			<div class="body home">
				<div class="content">
					<!-- ICI BREVE PRESENTATION -->
					<center>
						<img src="dmv.png" class="logo">
						<br>
						<p class="bold-text">Bem-vindo há escola de condução
					</center>
					<br>
					<center>Todos os cidadãos da Ribeira têm de passar o exame antes de puderem conduzir.
						<br>Demora o tempo que precisares, responde com senso comum, e não respondas há sorte.
						<br>
						<br> Teste Teórico
						<br> - O teste custa  350€, não podes dar refund se falhares o teste.
						<br> - Não tenhas medo, a escola de condução aceita crédito, mas tem cuidado para não ficares em divida.
						<br> - Se falhares o teu teste a primeira vez, não podes refaze-lo de imediato, terás de o fazer depois.
						<br>
						<br> Teste de Condução
						<br> - O teste de condução custa 500€, tal como o teste teórico este pagamento não pode ser alvo de refund se falhares.
						<br> - Fica alerta enquanto conduzes, evita acidentes!</p>
					</center>
				</div>
				<div class="buttonspot">
					<a href="#" class="button btnQuestion">Começar</a>
				</div>
				<div class="barre-progression">
					<h2>Progresso</h2>
					<progress class="progression" value="0" max="10">
				</div>
			</div>
			<!-- Question-->
			<div class="body questionnaire-container">
				<div class="content">
					<h2 id="questionNumero"></h2>
					<p id="question"></p>
					<form class="form" id="question-form">
						<div>
							<input type="radio" name="question" id="answerA" value="A">
							<label class="answerA"></label>
						</div>
						<div>
							<input type="radio" name="question" id="answerB" value="B">
							<label class="answerB"></label>
						</div>
						<div>
							<input type="radio" name="question" id="answerC" value="C">
							<label class="answerC"></label>
						</div>
						<div>
							<input type="radio" name="question" id="answerD" value="D">
							<label class="answerD"></label>
						</div>
						<button type="submit" id="submit" class="submit">Próxima questão</button>
					</form>
				</div>
				<div class="barre-progression">
					<h2>Progresso</h2>
					<progress class="progression" value="0" max="10">
				</div>
			</div>
			<!-- Results -->
			<div class="body resultGood">
				<div class="content">
					<center>
						<p class="bold-text">Bom trabalho!</p>
						<br>
						<br>Estiveste bem durante o teu exame.
						<br>
						<br>Podes fechar a janela, vai tirar os teus teste(s) da estrada.
					</center>
				</div>
				<div class="buttonspot">
					<a href="#" class="button btnClose">Fechar</a>
				</div>
				<div class="barre-progression">
					<h2>Progresso</h2>
					<progress class="progression" value="10" max="10">
				</div>
			</div>
			<div class="body resultBad">
				<div class="content">
					<center>
						<p class="bold-text">Falhaste</p>
						<br>
						<br>Não estavas pronto para este teste, tenta outra vez mais tarde...
						<br>
						<br>
					</center>
				</div>
				<div class="buttonspot">
					<a href="#" class="button btnKick">Fechar</a>
				</div>
				<div class="barre-progression">
					<h2>Progresso</h2>
					<progress class="progression" value="10" max="10">
				</div>
			</div>
		</div>
	</div>

	<script src="nui://game/ui/jquery.js" type="text/javascript"></script>
	<script src="questions.js" type="text/javascript"></script>
	<script src="scripts.js" type="text/javascript"></script>
	<script src="debounce.min.js" type="text/javascript"></script>

</body>