@charset "utf-8";
/* CSS Document */

a {
color: #1E90FF;
}

p a {
color: #1E90FF;
}

#main-menu {
background: rgba(30,144,255, .95);
}

.color-me {
color: #1E90FF;
}

.awesome {
color: #1E90FF;
}

@-webkit-keyframes glow {
    0% {
		border-color: #1E90FF;
		/* box-shadow: 0 0 5px rgba(0,0,0, .2), inset 0 0 5px rgba(0,0,0, .1); */
    }	
    100% {
		border-color: #1E90FF;
		/* box-shadow: 0 0 20px rgba(0,0,0, .6), inset 0 0 10px rgba(0,0,0, .4); */
    }
}
@-moz-keyframes glow {
    0% {
		border-color: #1E90FF;
		/* box-shadow: 0 0 5px rgba(0,0,0, .2), inset 0 0 5px rgba(0,0,0, .1); */
    }	
    100% {
		border-color: #1E90FF;
		/* box-shadow: 0 0 20px rgba(0,0,0, .6), inset 0 0 10px rgba(0,0,0, .4); */
    }
}
@-o-keyframes glow {
    0% {
		border-color: #1E90FF;
		/* box-shadow: 0 0 5px rgba(0,0,0, .2), inset 0 0 5px rgba(0,0,0, .1); */
    }	
    100% {
		border-color: #1E90FF;
		/* box-shadow: 0 0 20px rgba(0,0,0, .6), inset 0 0 10px rgba(0,0,0, .4); */
    }
}
@-ms-keyframes glow {
    0% {
		border-color: #1E90FF;
		/* box-shadow: 0 0 5px rgba(0,0,0, .2), inset 0 0 5px rgba(0,0,0, .1); */
    }	
    100% {
		border-color: #1E90FF;
		/* box-shadow: 0 0 20px rgba(0,0,0, .6), inset 0 0 10px rgba(0,0,0, .4); */
    }
}
@keyframes glow {
    0% {
		border-color: #1E90FF;
		/* box-shadow: 0 0 5px rgba(0,0,0, .2), inset 0 0 5px rgba(0,0,0, .1); */
    }	
    100% {
		border-color: #1E90FF;
		/* box-shadow: 0 0 20px rgba(0,0,0, .6), inset 0 0 10px rgba(0,0,0, .4); */
    }
}

.submit-button {
color: #fff;
background: #fff;
}

.submit-button::before {
color: #fff;
background: #1E90FF;
}

.submit-button:hover {
color: #000;
background: #fff;
}

.submit-button-2 {
color: #fff;
background: #fff;
}

.submit-button-2::before {
color: #fff;
background: #1E90FF;
}

.submit-button-2:hover {
color: #000;
background: #fff;
}

.owl-page.active span {    
background: #1E90FF;
}

.expand { 
background: #1E90FF;
}

/* Styleswitch [DEMO only] */
.options-head {
background: #1E90FF;
}