@font-face {
	font-family: bankgothic;
	src: url('../fonts/bankgothic.ttf');
}

@font-face {
	font-family: pcdown;
	src: url('../fonts/pdown.ttf');
}

#controls {
  font-family   : pcdown;
  font-size     : 3em;
  color         : #FFF;
  position      : absolute;
  bottom        : 40;
  right         : 40;
}

.controls {
	display: none;
}

.dialog {
	border: 0px solid red;
    font-family     : bankgothic;  
    font-family     : bankgothic;  
    background-color: black;
    color:white;
    text-decoration: none;
    position        : absolute;
    overflow        : hidden;
    top             : 50%;
    left            : 50%;
    width           : 350px;
    height          : 150px;
    transform       : translate(-50%, -50%);
    border-style: none;
    opacity:0.75;
}

.dialog.big {
	height: 100px;
}

.dialog .head {
    background-image:url("");
	opacity:1;
	background-color: #506be6;
	text-align: center;
	height: 95px;
	width: 350px;
}

.dialog .head span:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.dialog input[type="text"] {
  width : 100%;
  height: 25px;
  border-style: none;
  color: white;
  background-color:#000000;
}

.dialog textarea {
  color:white; 
  width : 100%;
  height: 25px;
  border-style: none;
  background-color:#000000;
}

.dialog button[name="submit"] {
    color:white;
	width : 50%;
	height: 25px;
    text-decoration: none;
	border-style: none;

	background-color:#000000;
	border-right: 1px solid #595959;
	border-top: 1px solid #595959;
}

.dialog button[name="cancel"] {
  color:white;
  width : 50%;
  height: 25px;
  text-decoration: none;
  border-style: none;
  background-color:#000000;
  border-top: 1px solid #595959;
}